/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  /* Home Container */
  .home-container {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
  }
  
  /* Header */
  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .home-header h1 {
    color: #333;
    font-size: 2.5rem;
  }
  
  .home-create-button {
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .home-create-button:hover {
    background-color: #45a049;
  }
  
  /* Posts Grid */
  .posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }
  
  /* Post Card */
  .post-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 10px;
  }
  
  .post-card:hover {
    transform: translateY(-5px);
  }
  
  .post-image {
    width: 100%;
    /* width: 45vw; */
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .post-content {
    padding: 1rem;
    text-align: center;
  }
  
  .post-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .view-post-button {
    display: inline-block;
    background-color: #FF9800;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .view-post-button:hover {
    background-color: #e68a00;
  }
  